.about-img {
    padding-top: 48px;
    ;
}

.bi-check2::before {
    content: "\f271";
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    padding-right: 20px;
    font-weight: bolder;
    color: #303464;
}

.about .nav-pills {

    color: white !important;
}

.about .nav-link.active {
    font-weight: bold;
    border-radius: 0;
    background: none;
    border-bottom: 3px solid #303464;
}

.col-lg-7>h3,
h4 {
    color: #303464 !important;

}

.section-header {
    text-align: justify;
}

.section-header>h2 {
    text-align: center;
    color: #303464;

}
.content {
    overflow: hidden;
}
.about-img {
    transition: all 2s ease;

}

.about-img :hover {
    transform: scale(1.25);
}

body {
    color: black;
}

.p-4 {
    padding: 0 !important;

}

.text-center-1 {
    text-align: left !important;

}